asgiref==3.5.2
astroid==2.11.6
backports.zoneinfo==0.2.1
dill==0.3.5.1
Django==4.0.5
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
notify2==0.3.1
Pillow==9.1.1
platformdirs==2.5.2
pylint==2.14.3
PyYAML==6.0
render==1.0.0
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.0
typing_extensions==4.2.0
wrapt==1.14.1
